<div class="bg-light">
    <div class="container mb-5" style="padding: 3em 0;">
        <h1>MovieApp</h1>
        <p>My movie application</p>
    </div>
</div>

<div class="container animated fadeIn">

    <div class="container m-4">
        <h2>Now playing</h2>
        <hr>
        <app-loading *ngIf="loadingNowPlaying"></app-loading>
        <div *ngIf="errorNowPlaying" class="alert alert-danger animated fadeIn">
            <h3>
                Error
            </h3>
            <p>{{errorMsgNowPlaying}}</p>
        </div>
        <app-movdisplay [movies]="nowPlaying" *ngIf="!loadingNowPlaying"></app-movdisplay>
    </div>

    <div class="container m-4">
        <h2>Populars</h2>
        <hr>
        <app-loading *ngIf="loadingPopulars"></app-loading>
        <div *ngIf="errorPopulars" class="alert alert-danger animated fadeIn">
            <h3>
                Error
            </h3>
            <p>{{errorMsgPopulars}}</p>
        </div>
        <app-movdisplay [movies]="populars" *ngIf="!loadingPopulars"></app-movdisplay>
    </div>

</div>