<div class="container m-5">
    <div class="row m-3">
        <div class="col">
            <input [(ngModel)]="searchText" type="text" (keyup)="searchMovie()" class="form-control" placeholder="Search movie...">
        </div>
    </div>

    <div class="row animated fadeIn fast" *ngIf="noResults">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                There are not results for with: {{searchText}}
            </div>
        </div>
    </div>

    <div class="container m-3" *ngIf="!noResults">
        <div class="card-columns">
            <div *ngFor="let result of searchResults['results']" class="card puntero">
                <img class="card-img-top" [src]="result.poster_path | movimage:300" width="284px" height="160px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        {{result.title}}
                    </h5>
                    <p class="card-text">
                        {{result.overview | slice:0:300}}...
                    </p>
                    <button type="button" (click)="getDetails(result.id)" name="btnSeeMore" id="btnSeeMore" class="btn btn-outline-primary btn-block">Details</button>
                </div>
            </div>
        </div>
    </div>

</div>