/* You can add global styles to this file, and also import other style files */

.movie-caption {
    position: absolute;
    right: 15%;
    bottom: 0px;
    left: 5%;
    z-index: 10;
    padding-bottom: 5px;
    color: #fff;
}